<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>zaza</string>
		<key>yieldy</key>
		<string>Japanese</string>
		<key>brands</key>
		<array>
			<string>丰田</string>
			<string>大众</string>
			<string>本田</string>
			<string>东风</string>
		</array>
	</dict>
</array>
</plist>
